.contact-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 5.85vw, 60px);
  width: 100%;
  max-width: 30vw;
  padding: clamp(18px, 3.9vw, 40px);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-text);
  animation-delay: 0.5s;
  box-shadow: 0 10px 20px rgba(125, 249, 255, 0.4);
}

.contact-form input,
.contact-form textarea {
  color: var(--color-text);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: clamp(10px, 1.95vw, 15px);
  border:
    var(--color-text),
    1px solid;
  color: var(--color-text);
  font-family: inherit;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--color-text);
}

.contact-form label {
  color: var(--color-text);
  margin-bottom: 10px;
}

.contact-form .group {
  display: flex;
  flex-direction: column;
}

.contact-form .btn-gradient {
  color: var(--color-text);
  text-decoration: none;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  min-width: 60%;
  width: 40%;
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #80ef80;
  transition: width 2s ease;
}

.btn-gradient.success::before {
  width: 100%;
}

.contact-form .btn-gradient:hover {
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 10px 20px rgba(125, 249, 255, 0.4);
}

.contact-form .group:nth-child(1) {
  animation-delay: 0.3s;
}

.contact-form .group:nth-child(2) {
  animation-delay: 0.6s;
}

.contact-form .group:nth-child(3) {
  animation-delay: 0.9s;
}

.contact-form .group:nth-child(4) {
  animation-delay: 1.2s;
}

.contact-form .group:nth-child(5) {
  animation-delay: 1.5s;
}

@media (max-width: 1024px) {
  .contact-container {
    height: auto;
    padding-top: 200px;
    padding-bottom: 60px;
    align-items: flex-start;
  }

  .contact-form {
    max-width: 80vw;
  }

  .contact-form .btn-gradient {
    width: 60%;
  }
}
