@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --color-primary: #e8b6c7;
  --color-secondary: #a1e5f0;
  --color-text: #f3f3f3;
  --color-background: #1e1e24;
  --color-black: #0d0d10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(30, 30, 36, 0.3);

  background-image:
    radial-gradient(
      circle at 50% 50%,
      var(--color-secondary) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 10% 90%,
      var(--color-secondary) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      var(--color-primary) 0%,
      rgba(177, 143, 255, 0.4) 25%,
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 40%,
      var(--color-primary) 0%,
      rgba(177, 143, 255, 0.4) 30%,
      transparent 70%
    );

  background-size: 180% 180%;

  animation: bgMove 8s ease-in-out infinite alternate;

  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -10;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  position: fixed;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  margin: 30px 80px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.right-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  inset: 0;
  top: 20px;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  transition: width 0.3s ease-in-out;
}

.right-nav a:hover::after {
  width: 100%;
}

.anim {
  display: inline-block;
  opacity: 0;
  animation: dropIn 1s ease forwards;
}

.left-nav {
  margin-left: 50px;
}

.left-nav .anim {
  animation-delay: 0.3s;
}

.right-nav .anim:nth-child(1) {
  animation-delay: 0.6s;
}

.right-nav .anim:nth-child(2) {
  animation-delay: 0.9s;
}

.right-nav .anim:nth-child(3) {
  animation-delay: 1.2s;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bgMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 80% 20%;
  }
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.vertical {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100px;
  animation-delay: 1.2s;
}

.vertical h1 {
  font-size: 80px;
  white-space: nowrap;
  letter-spacing: 5px;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'Cormorant Infant', serif;
}
